/* CSS VARIABLES */
:root {
    --default-bg-color: #005;
    --default-fg-color: #fff;
    --default-gap: 10px;

    --button-width: 40px;
    --button-height: 50px;
}

/* GLOBAL SETTINGS AND RESETS */
html {
    box-sizing: border-box;
    font-size: 100%;
    color: var(--default-fg-color);
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, h1, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

/* MAIN CONFIGURATION */
#icon-delete {
    width: var(--button-width);
    height: var(--button-height);
}

body {
    background-color: var(--default-bg-color);
    margin: 0;
    min-height: 100vh;
    display: grid;

    gap: var(--default-gap);
    grid-auto-flow: column;
    grid-template-columns: 3fr repeat(4, minmax(var(--button-width), 1fr));
    grid-template-areas: "numberpad memory arithmetic unary control-panel";
}

.area-numberpad {
    grid-area: numberpad;
}

.area-memory {
    grid-area: memory;
}

.area-arithmetic {
    grid-area: arithmetic;
}

.area-unary {
    grid-area: unary;
}

.area-control-panel {
    grid-area: control-panel;
}

[class*="flex-"] {
    display: flex;
    gap: var(--default-gap);
}

[class*="grid-"] {
    display: grid;
    gap: var(--default-gap);
}

.flex-force-centering {
    justify-content: center;
    align-items: center;
}

.grid-dock {
    width: 100%;
    grid-template-columns: repeat(3, minmax(min(var(--button-width), 100%), 1fr));
    grid-template-rows: repeat(4, var(--button-height));
    grid-template-areas:
	"seven eight nine"
	"four five six"
	"one two three"
	"zero zero decimal-point";
}

.flex-dock {
    flex-direction: column;
}

/* Mobile-first: all flex button-docks are vertical, and so use the
   'button-height' custom property */
.flex-dock > [class*="button"] {
    flex: 0 1 var(--button-height);
}

.button {
    color: var(--button-fg-color);
    border-radius: 5px;
    background: linear-gradient(var(--button-bg-color-light) 20%, var(--button-bg-color-dark) 80%);
    font-size: 1.5rem;

    --button-bg-color-light: #fafbff;
    --button-fg-color: #010b02;
    --button-bg-color-dark: #a2a2a2;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.decimal-point {
    grid-area: decimal-point;
}

@media only screen and (orientation: portrait) {
    body {
	grid-template-areas:
	    "arithmetic arithmetic"
	    "numberpad memory"
	    "unary control-panel"
	    ". control-panel";

	grid-template-rows: var(--button-height) calc(var(--button-height) * 4 + var(--default-gap) * 3) var(--button-height);
    }

    /* Keep memory and control-panel as vertical button-docks, but change
    the rest to horizontal */
    .flex-dock:not(.area-memory, .area-control-panel) {
	flex-direction: row;
    }

    /* Make sure that the horizontally-positioned buttons occupy the given
       space */
    .flex-dock:not(.area-memory, .area-control-panel) > [class*="button"] {
	flex: var(--button-width);
    }
}
